.file-list {
    display: flex;
    flex-direction: column;

    
    span.file-panel-toolbar {
        display: inline-flex;
        background: #add8e6;
        padding-bottom: 10px 5px 10px 5px;
        button {
            cursor: pointer;
            border: none;
            background: none;
            padding: 3px;
        }
    }
    span.file-list-item {
        display: inline-flex;
        padding-left: 10px;

        background-color: lightgray;
        
        input {
            display: block;
            width: 150px;
            cursor: pointer;
            margin-left: 10px;
            border: none;
            background: inherit;
            &:focus {
                cursor: text;
            }


        }

        .selected {
            background: grey;
        }

        :nth-child(3) {
            visibility: hidden;
            
        }

        :nth-child(4) {
            visibility: hidden;
        }

    
        &:hover {
            background: grey;
            :nth-child(3) {
                visibility: visible;
            }

            :nth-child(4){
                visibility: visible;
            }

        }
    }



}
.delete-file-button {
    .name-entry {
        visibility: hidden;
    }

}
