$top-bar-height: 35px;
$toolbar-height: 25px;



$dark-colour: #152026;
button {
    padding: 0;
    border: none;
    background: none;
}
ul {
    padding: 0;
    list-style: none;
}


.add-button-group {
    display: flex;
    flex-direction: column;
    
    .speech-bubble {
        margin-top: 52px;
        margin-left: 23px;
        position: absolute;
        left: 0;
        right: 0;
        width: 90px;
        padding: 10px;
    }
}
.code-panel-container {
    
    display: flex;
    height: calc(100vh - 50px);
    
    .file-panel-container {
        display: flex;
        flex-direction: column;
        width: 220px;
       

        .file-panel-list {
            flex-grow: 1;
        }
    }
    
    .code-entry-container {
        display: flex;
        flex-direction: column;
        
        flex-grow: 1; // fill remaining width of code-panel-container

        //height: 100%;
        align-self: stretch;
    }


}

.speech-bubble {
	position: relative;
	background: #b6a03f;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-bottom-color: #b6a03f;
	border-top: 0;
	border-left: 0;
	margin-left: -15px;
	margin-top: -30px;
}

.CodeMirror {
    //height: calc(100vh - 35 - 25);
    height: calc(100vh - 50px - 35px);
    max-width: calc(100vw - 220px - 47vw);
    min-width: 400px;
}

.intro {
    background-color: #292D3E;
    opacity: 0.7;
    color: #A6ACCD;
}
p.file-panel-title {
    background-color: $dark-colour;
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 11pt;
    letter-spacing: 0.01px;
    height: $top-bar-height;

}


.file-panel-list {
    margin: 0;
    background: #32454f;

    .filename-input-container {
        width: 100%;
        margin: 5px;
        


    }
    .file-panel-item {
        

        cursor: pointer;
        padding-top: 4px;
        padding-left: 6px;
        
        input.filename-input {
            width: 100%;
            padding-left: 4px;
            background-color: lightgray;
        }

        span {
            
            font-size: 12pt;
                
            color: #C3E88D;
            width: 100%;  

            :hover {
                cursor: text;
            }
        }
        
        input.file-item-checkbox {
            visibility: hidden;

            &.visible {
                visibility: visible;
                margin-right: 10px;
                margin-left: 10px;
            }
            
        }

        

        &.selected {
            span {

            }
        }

       

        &:hover {
            //background-color: #eeeeee;
            background: rgba(238,238,238, 0.2);

        }

    }

    
    i {
        color: white;
        margin-right: 10px;
    }


}



.file-panel-toolbar {
    display: flex;
    flex-wrap: nowrap;
    
    height: $toolbar-height;
    background: #70808a;
    justify-content: flex-start;
    padding-left: 15px;

    i {
        font-size: 15px;
        color: rgba(238,238,238, 0.8);
    }

    button {
        cursor: pointer;
        margin-right: 15px;

        :hover {
            color: white;
        }
    }

}

.current-file-title {

    height: $top-bar-height;
    background: $dark-colour;
    color: white;
    text-align: center;
    padding-top: 3px;
    border-left: 1px solid;
    border-color: rgba(238,238,238, 0.2);
}
