.file-list {
    display: flex;
    position: relative;
    flex-direction: column;

    background-color: #1c1c1a;
    
    .drop-overlay {
        width: inherit;
    }
    &.dragOver {
        background-color: grey;
        border: 1px solid rgb(184, 184, 250);
    }

    span.file-panel-toolbar {
        display: inline-flex;
        background: #41423A;
        padding-bottom: 10px 5px 10px 5px;
        width: 100%;
        button {
            cursor: pointer;
            border: none;
            background: none;
            padding: 3px;
            color: rgb(145, 145, 141);
            padding-left: 12px;

            &:hover {
                color: #F8F8F2;
            }
        }
    }
    span.file-list-item {
        display: inline-flex;
        padding-left: 10px;
    
        i.fa-file {
            color: #F8F8F2;
        }

        input {
            display: block;
            width: 150px;
            cursor: pointer;
            color: #F8F8F2;
            margin-left: 10px;
            border: none;
            background: inherit;
            padding-left: 3px;
            &:focus {
                cursor: text;
            }


        }

        &.selected {
            background: grey;
        }

        :nth-child(3) {
            visibility: hidden;
            
        }

        :nth-child(4) {
            visibility: hidden;
        }

    
        &:hover {
            background: rgb(177, 174, 174);
            :nth-child(3) {
                visibility: visible;
            }

            :nth-child(4){
                visibility: visible;
            }

        }
    }



}
button.delete-file-button {
    outline: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;

    .name-entry {
        visibility: hidden;
    }

    &:hover {
        color: #f56262;
    }

}
