$options-bar-height: 50px;

.options-bar-container {
    
    flex: 0 0 $options-bar-height;
    background: black;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    transition: all .8s;

    height: 65px;

    li > h1 {
        margin-left: 20px;
        letter-spacing: 3px;
        font-size: 45px;
        font-weight: 300;
    }
    span.format-choice {
        margin-left: 10px;
        padding-right: 20px;

        input {
            margin-right: 10px;
        }
        
    }

    .button-group {

        button {
            margin-right: 20px;

        }
        button.download-button {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 20;
        }
    }

    img.chevron-down {
        margin-left: 8px;
        width: 10px;
        height: 10px;
        color: white;
    }
}